* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container_header {
    background-color: tomato;
    color: white;
    border: 5px solid black;
    margin: 5px;
}


#footer {
    border: 5px solid black;
    background-color: tomato;
    padding-top: 10px;
    color: white;
    text-align: center;
}

#footer h2 {
    border: 4px solid black;
}

#footer li {
    border: 3px solid black;
    list-style: none;
}

#footer li a {
    text-decoration: none;
    color: white;
}

#boton-ver-mas {
    background-color: red;
    border-color: red;
    color: black;
}